* {
    padding: 0;
    margin: 0;box-sizing: border-box;
}

main {
    background-image: url("../img/background_image.png");
    background-position: center;
    height: 700px;
    position: relative;
}

.main-card {
    background-color: rgba(255, 255, 255, 0.3);
}

.services-button {
    position: absolute;
    top: 70%;
    right: 45%;
}

.form-container {
    background-color: rgb(73, 181, 194);
    margin-top: -10px;
    color: white;
    padding-bottom: 5em;
}

#footer-container {
    position: relative;
}

footer {
    position: absolute;
    bottom: -730px;
}